body {
  max-width: 100%;
}

.annonce-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  box-sizing: border-box;
  padding-bottom: 25px;
}

.slide-container {
  height: 415px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.slide-container img {
  max-width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.annonce-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.annonce-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.annonce-title h2 {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 2px;
  margin-top: 5px;
}

.annonce-title p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 0px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.host-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.host-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.host-name p {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
}

.host-name img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.annonce-collapse {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .annonce-details {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .slide-container {
      height: 255px;
      .slide {
        height: 255px;
        img {
          height: 255px;
        }
      }
    }

    .annonce-info {
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }

    .host-info {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
    }

    .annonce-title {
      flex-direction: column;
      h2 {
        font-size: 25px;
      }
    }
    .tags {
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
    }

    .annonce-collapse {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.annonce-title {
  flex-direction: column;
  h2 {
    font-size: 25px;
  }
}
